services:
  processor-db:
    image: postgres:13-alpine
    env_file:
      - .env
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DATABASE}
    volumes:
      - processor-data:/var/lib/postgresql/data
    networks:
      - processor-network

networks:
  processor-network:
    driver: bridge

volumes:
  processor-data: